// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.video-thumbnail {
  max-height: 300px; /* 영상 높이를 제한 */
  object-fit: cover; /* 썸네일 비율 유지 */
}

.card {
  margin-bottom: 20px; /* 카드 간격 추가 */
}

.video-card {
  padding: 10px; /* 카드 양쪽 여백 추가 */
}